############################################
# General Settings
############################################
PUID=1000
PGID=1000
TZ=Australia/Sydney
PUID_ARR=1003
PGID_ARR=1101

############################################
# VPN Settings (ProtonVPN - WireGuard)
############################################
# Populate these variables from your extracted ProtonVPN WireGuard profile (.conf)
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
VPN_PORT_FORWARDING=on
PORT_FORWARD_ONLY=on
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key_base64_here================
WIREGUARD_ADDRESSES=10.2.0.2/32
WIREGUARD_PUBLIC_KEY=your_wireguard_public_key_here=
WIREGUARD_DNS=10.2.0.1

############################################
# Web UI / Service Ports
############################################
QBITTORRENT_PORT=8080
NZBGET_PORT=6789
PROWLARR_PORT=9696
SONARR_PORT=8989
RADARR_PORT=7878
LIDARR_PORT=8686
BAZARR_PORT=6767
MYLAR_PORT=8090
LAZYLIBRARIAN_PORT=5299
JELLYSEERR_PORT=5055
FLARESOLVERR_PORT=8191
SONARR_ANIME_PORT=8990